Options -Multiviews

RewriteEngine On
RewriteBase /

# Force search engines to use historiadelaradio.com
RewriteCond %{HTTP_HOST} !^historiadelaradio\.com$
RewriteRule ^(.*) http://historiadelaradio.com/$1 [R=301,L]

# Specify search friendly URLs
RewriteRule ^http://historiadelaradio\.com/libro/historia$ /http://historiadelaradio.com/libro/index.php?seccion=historia [L]
RewriteRule ^http://historiadelaradio\.com/libro/puzzle$ /http://historiadelaradio.com/libro/index.php?seccion=puzzle [L]
RewriteRule ^http://historiadelaradio\.com/libro/laberinto$ /http://historiadelaradio.com/libro/index.php?seccion=laberinto [L]

# Generated for free at SearchFriendlyURLs.com